// 颜色定义规范
$color-theme = #d43d3d
$color-highlight-theme = #d93f30
$color-font=white

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px